@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100);

@import "./header.scss";
@import "./menu.scss";
@import "./language-selector.scss";
@import "./content-0.scss";
@import "./content-1.scss";
@import "./content-2.scss";
@import "./content-3.scss";
@import "./content-4.scss";
@import "./content-5.scss";
@import "./footer.scss";

.bd-example-row .row>.col, .bd-example-row .row>[class^=col-] {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(86, 61, 124, .15);
    border: 1px solid rgba(86, 61, 124, .2);
}
