$white: #fff;
$black: #000;
$gray: #7f7f7f;

// header
$content-0-bg: #4B93CA;
$content-0-text: #fff;

// evento
$content-1-bg: #00061D;
$content-1-text: #fff;
$content-1-header-text: #E6AD0E;

// local
$content-2-bg: #fff;
$content-2-text: #000;
$content-2-header-text: #770002;

// patrocinadores
$content-3-bg: #fff;
$content-3-text: #000;
$content-3-header-text: #770002;

// ingressos
$content-4-bg: #D9E7A7;
$content-4-text: #000;
$content-4-header-text: #0F6131;

// social
$content-5-bg: #DC9812;
$content-5-text: #fff;

// footer
$content-6-bg: #010021;
$content-6-text: #fff;
