{# <section id="content-0" style="background-image: url('{{ '/static/img/brennand.svg'|asseturl }}');"> #}
<section id="content-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-9">
                <h1 class="display-4">SOBRE O EVENTO</h1>
                <p class="lead">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget nisl dapibus erat pulvinar vulputate posuere vitae est. Etiam nulla mi, ultricies a arcu eu, aliquet finibus odio. Cras sodales odio ut lectus faucibus finibus. Phasellus maximus euismod magna, in feugiat neque tempus eu. Donec in luctus ligula. Fusce enim est, gravida non enim ac, hendrerit ullamcorper nibh. Nam id porttitor lectus, id rhoncus arcu. Vivamus elit nisi, laoreet at sodales et, tristique at ligula. Aliquam posuere sit amet libero at luctus. Vestibulum et feugiat purus, id dictum tortor. Integer a gravida nulla, et aliquet massa. Integer fermentum egestas laoreet. Aenean accumsan, lorem a aliquet vehicula, dolor purus molestie enim, maximus euismod sem mauris ac quam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce id tortor dolor.
                </p>
            </div>
        </div>
    </div>
</section>
