
{% from "macros/keynotes.html" import render_keynote %}

<section id="content-1">

  <svg class="waves" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 0 1920 75">
    <defs> <clipPath id="a"> <rect class="a" width="1920" height="75"></rect> </clipPath> </defs>
    <title>Wave</title>
    <g class="b"> <path class="c" d="M1963,327H-105V65A2647.49,2647.49,0,0,1,431,19c217.7,3.5,239.6,30.8,470,36,297.3,6.7,367.5-36.2,642-28a2511.41,2511.41,0,0,1,420,48"></path> </g>
    <g class="b"> <path class="d" d="M-127,404H1963V44c-140.1-28-343.3-46.7-566,22-75.5,23.3-118.5,45.9-162,64-48.6,20.2-404.7,128-784,0C355.2,97.7,341.6,78.3,235,50,86.6,10.6-41.8,6.9-127,10"></path> </g>
    <g class="b"> <path class="d" d="M1979,462-155,446V106C251.8,20.2,576.6,15.9,805,30c167.4,10.3,322.3,32.9,680,56,207,13.4,378,20.3,494,24"></path> </g>
    <g class="b"> <path class="d" d="M1998,484H-243V100c445.8,26.8,794.2-4.1,1035-39,141-20.4,231.1-40.1,378-45,349.6-11.6,636.7,73.8,828,150"></path> </g>
  </svg>

  <div class="container">
    <div class="header-space">
        <h1 class="header-box">Keynotes</h1>
    </div>

    {% for n in range(6) %}
      {{ render_keynote(keynote_name='Thanos',
                        keynote_photo='/static/img/keynotes/thanos-avatar.png',
                        keynote_desc='Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. ',
                        keynote_social=[
                          ('twitter', 'https://twitter.com/thetitanthanos')
                        ],
                        keynote_company='Titansoft',
                        left=(n % 2 == 0)) }}
    {% endfor %}
  </div>

<div class="triangle-down">
    <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 2 1">
        <defs>
            <linearGradient id="header-shape-gradient" x2="0.35" y2="1">
                <stop offset="0%" stop-color="var(--color-stop)" />
                <stop offset="30%" stop-color="var(--color-stop)" />
                <stop offset="100%" stop-color="var(--color-bot)" />
            </linearGradient>
        </defs>
     <g> <path class="triangle-path" d="M0,0 l2,0 l-1,1 z" /> </g>
    </svg>
</div>

</section>
