<section id="content-3-1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-9">
                <h1 class="display-4">PATROCINE O EVENTO</h1>
                <p class="lead">
                    Deseja investir no futuro da tecnologia?
                </p>
                <p class="lead">
                    Entre em contato!
                </p>
                <button class="btn btn-warning">Prospecto PT-BR</button>
                <svg xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" width="250" height="150">
                <desc>Elipse criada pelo Maujor para uso no site SVG</desc>
                <title>Formas básicas - Elipse</title>
                    <ellipse cx="125" cy="75" rx="90" ry="40" fill="red" />
                </svg>
            </div>
        </div>
    </div>
    <div class="caranguejo"></div>

</section>

<section id="content-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-9">
                <h1 class="display-4">PATROCINADORES</h1>
            </div>
        </div>
        <div class="row justify-content-center sponsor-manguebeat">
            <div class="col-5 sponsor-manguebeat-logo"></div>
            <div class="col-3">
                <img src="holder.js/200x200?theme=sky&outline=yes" class="img">
            </div>
        </div>
        <div class="row justify-content-center sponsor-frevo">
            <div class="col-5">
                <img src="holder.js/130x130?theme=sky&outline=yes" class="img">
                <img src="holder.js/130x130?theme=sky&outline=yes" class="img">
                <img src="holder.js/130x130?theme=sky&outline=yes" class="img">
            </div>
            <div class="col-3 sponsor-frevo-logo"></div>
        </div>
        <div class="row justify-content-center sponsor-passinho">
            <div class="col-3 sponsor-passinho-logo"></div>
            <div class="col-5">
                <img src="holder.js/100x100?theme=sky&outline=yes" class="img">
                <img src="holder.js/100x100?theme=sky&outline=yes" class="img">
                <img src="holder.js/100x100?theme=sky&outline=yes" class="img">
                <img src="holder.js/100x100?theme=sky&outline=yes" class="img">
            </div>
        </div>
        <div class="row justify-content-center sponsor-coco">
            <div class="col-5">
                <img src="holder.js/70x70?theme=sky&outline=yes" class="img">
                <img src="holder.js/70x70?theme=sky&outline=yes" class="img">
                <img src="holder.js/70x70?theme=sky&outline=yes" class="img">
                <img src="holder.js/70x70?theme=sky&outline=yes" class="img">
                <img src="holder.js/70x70?theme=sky&outline=yes" class="img">
                <img src="holder.js/70x70?theme=sky&outline=yes" class="img">
            </div>
            <div class="col-3 sponsor-coco-logo"></div>
        </div>

    </div>
</section>
