<section id="content-5">
    <div class="container">
        <div class="header-space">
            <h1 class="header-box">Ingressos</h1>
        </div>
        <div class="row">
            <div class="col-5">
                <h1 class="title-text-shadow"><span class="asterisk">*</span> Estudantes <span class="underline"></span> </h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-4">
                <div class="ingresso">
                    <h1>1º Lote</h1>
                    <p class="preco">US$ 60</p>
                    <p class="data">Até 8 de Agosto de 2020</p>
                    <a href="#" class="btn btn-ingresso">Comprar</a>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="ingresso">
                    <h1>1º Lote</h1>
                    <p class="preco">US$ 60</p>
                    <p class="data">Até 8 de Agosto de 2020</p>
                    <a href="#" class="btn btn-ingresso">Comprar</a>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="ingresso">
                    <h1>1º Lote</h1>
                    <p class="preco">US$ 60</p>
                    <p class="data">Até 8 de Agosto de 2020</p>
                    <a href="#" class="btn btn-ingresso">Comprar</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-5">
                <h1 class="title-text-shadow"><span class="asterisk">*</span> Profissionais <span class="underline"></span></h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-4">
                <div class="ingresso">
                    <h1>1º Lote</h1>
                    <p class="preco">US$ 60</p>
                    <p class="data">Até 8 de Agosto de 2020</p>
                    <a href="#" class="btn btn-ingresso">Comprar</a>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="ingresso">
                    <h1>1º Lote</h1>
                    <p class="preco">US$ 60</p>
                    <p class="data">Até 8 de Agosto de 2020</p>
                    <a href="#" class="btn btn-ingresso">Comprar</a>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="ingresso">
                    <h1>1º Lote</h1>
                    <p class="preco">US$ 60</p>
                    <p class="data">Até 8 de Agosto de 2020</p>
                    <a href="#" class="btn btn-ingresso">Comprar</a>
                </div>
            </div>
        </div>
    </div>
</section>
