<section id="footer-div">
    <div class="container">

    <div class="row justify-content-center">
      <div class="col-md-6 text-center">
        <div class="mb-5 flex-center">
          <a href="https://www.facebook.com/scipyla">
            <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <a href="https://www.twitter.com/scipyla">
            <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <a href="https://www.linkedin.com/company/scipyla">
            <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <a href="https://www.instagram.com/scipyla">
            <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
        </div>
      </div>
    </div>

        <div class="row">
          <div class="col-6 col-md"></div>
          <div class="col-6 col-md text-center">
            <h5>Features</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Cool stuff</a></li>
              <li><a class="text-muted" href="#">Random feature</a></li>
              <li><a class="text-muted" href="#">Team feature</a></li>
            </ul>
          </div>
          <div class="col-6 col-md text-center">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Resource</a></li>
              <li><a class="text-muted" href="#">Another resource</a></li>
              <li><a class="text-muted" href="#">Final resource</a></li>
            </ul>
          </div>
          <div class="col-6 col-md text-center">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Team</a></li>
              <li><a class="text-muted" href="#">Privacy</a></li>
              <li><a class="text-muted" href="#">Terms</a></li>
            </ul>
          </div>
          <div class="col-6 col-md"></div>
        </div>

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020:

  </div>
  <!-- Copyright -->

    </div>
</section>
