<nav id="conference-navbar" class="navbar navbar-expand-lg navbar-light navbar-bg-color">
    <div id="navbar-spy" class="navbar-collapse collapse w-100 dual-collapse2 order-1 order-md-0">
        <ul class="navbar-nav ml-auto text-center">
            <li class="nav-item">
                <a class="nav-link" href="#content-0">Evento</a>
                <div class="underline"></div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#content-1">Keynotes</a>
                <div class="underline"></div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#content-2">CFP</a>
                <div class="underline"></div>
            </li>
        </ul>
    </div>
    <div class="mx-auto my-2 order-0 order-md-1 position-relative">
        <a class="mx-auto" href="#">
            <img src="{{ '/static/img/scipy-logo.svg' | asseturl }}" height="80px" width="80px" class="rounded-circle">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div id="navbar-spy" class="navbar-collapse collapse w-100 dual-collapse2 order-2 order-md-2">
        <ul class="navbar-nav mr-auto text-center">
            <li class="nav-item">
                <a class="nav-link" href="#content-3">Patrocinadores</a>
                <div class="underline"></div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#content-4">Ingressos</a>
                <div class="underline"></div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#content-5">Social</a>
                <div class="underline"></div>
            </li>
        </ul>
    </div>
</nav>
